@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
$activeColor: #05EDFF;
body {
    margin: 0;
    display: flex;
    font-family: 'Poppins';
    justify-content: right;
    background-image: url('../background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #121711;
    background-attachment: fixed;
    h1 {
        color: white;
        font-size: 2em;
        margin: 0;
    }
    input {
        background-color: transparent;
        border: none;
        color: white;
        &:focus {
            outline: none;
            border-bottom: 1px solid white;
        }
        &::placeholder {
            color: #ccc;
        }
    }
    img {
        background-color: white;
        height: 20px;
        width: 20px;
        min-width: 20px;
        border-radius: 100%;
        padding: 4px;
        margin-right: 10px;
        cursor: pointer;
    }
    .x,
    .listX {
        background-color: white;
        width: 28px;
        height: 28px;
        min-width: 28px;
        border-radius: 100%;
        text-align: center;
        line-height: 28px;
        cursor: pointer;
    }
    .iconWrap {
        display: flex;
        justify-content: space-between;
        width: 75px;
        margin-top: calc(17px - 1em);
    }
}

nav {
    width: 30vw;
    height: calc(100vh - 10vmin);
    padding: 5vmin;
    max-width: 400px;
    background-color: transparent;
    overflow-y: scroll;
    transition: .5s;
    .lists {
        .dead {
            transition: .2s;
            opacity: 0;
            margin-top: -50px;
        }
        .list {
            width: calc(30vw - 20px);
            max-width: 400px;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            transition: .2s;
            border-radius: 2px;
            h3 {
                margin: 0;
                cursor: pointer;
                max-width: 340px;
                overflow: hidden;
                color: white;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
        .active {
            h3 {
                color: $activeColor;
            }
            img,
            .x {
                background-color: $activeColor;
            }
        }
    }
    input {
        width: calc(30vw - 4px)
    }
}

main {
    width: calc(70vw - 20vmin);
    height: calc(90vh - 10vmin);
    padding: 5vmin;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: scroll;
    input {
        width: calc(70vw - 20vmin - 4px);
    }
    .toDo {
        display: none;
        .listz {
            .dead {
                transition: .2s;
                opacity: 0;
                margin-top: -50px;
            }
            .listItem {
                display: flex;
                justify-content: space-between;
                padding: 10px;
                min-height: 2em;
                transition: .2s;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
                p {
                    line-height: 2em;
                    margin: 0;
                    width: calc(70vw);
                    color: white;
                    overflow-x: visible;
                    overflow-wrap: break-word;
                }
                input {
                    cursor: pointer;
                    height: 1.5em;
                    width: 1.5em;
                    margin-top: .4em;
                }
                .finished {
                    transition: .2s;
                    opacity: 0;
                    margin-right: -70vw;
                    margin-top: -50px;
                }
            }
        }
    }
    .active {
        display: block;
    }
}

.rmv {
    font-family: 'Poppins';
    position: absolute;
    right: 2vw;
    bottom: 2vw;
    color: gray;
    cursor: default;
}

.remove {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.borger {
    display: none;
    transition: .5s;
    .burger {
        transition: inherit;
    }
}

.burgerWrap {
    top: 0;
    left: 0;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 40px;
    padding: 10px;
    background-color: transparent;
    .burger {
        width: 50px;
        height: 2px;
        background-color: white;
    }
    .two,
    .three {
        margin-top: 18px;
    }
}

.xWrap {
    top: 0;
    left: 0;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: black;
    .burger {
        width: 50px;
        height: 2px;
        background-color: white;
    }
    .one {
        transform: rotate(45deg);
        margin-top: 25px;
    }
    .two {
        opacity: 0;
    }
    .three {
        transform: rotate(-45deg);
        margin-top: -4px;
    }
}

.off {
    margin-left: -30vw;
}

@media only screen and (max-width: 900px) {
    .borger {
        display: block;
    }
}