@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");
body {
  margin: 0;
  display: flex;
  font-family: "Poppins";
  justify-content: right;
  background-image: url("../background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #121711;
  background-attachment: fixed;
}
body h1 {
  color: white;
  font-size: 2em;
  margin: 0;
}
body input {
  background-color: transparent;
  border: none;
  color: white;
}
body input:focus {
  outline: none;
  border-bottom: 1px solid white;
}
body input::placeholder {
  color: #ccc;
}
body img {
  background-color: white;
  height: 20px;
  width: 20px;
  min-width: 20px;
  border-radius: 100%;
  padding: 4px;
  margin-right: 10px;
  cursor: pointer;
}
body .x,
body .listX {
  background-color: white;
  width: 28px;
  height: 28px;
  min-width: 28px;
  border-radius: 100%;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
}
body .iconWrap {
  display: flex;
  justify-content: space-between;
  width: 75px;
  margin-top: calc(17px - 1em);
}

nav {
  width: 30vw;
  height: calc(100vh - 10vmin);
  padding: 5vmin;
  max-width: 400px;
  background-color: transparent;
  overflow-y: scroll;
  transition: 0.5s;
}
nav .lists .dead {
  transition: 0.2s;
  opacity: 0;
  margin-top: -50px;
}
nav .lists .list {
  width: calc(30vw - 20px);
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  transition: 0.2s;
  border-radius: 2px;
}
nav .lists .list h3 {
  margin: 0;
  cursor: pointer;
  max-width: 340px;
  overflow: hidden;
  color: white;
}
nav .lists .list:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
nav .lists .active h3 {
  color: #05EDFF;
}
nav .lists .active img,
nav .lists .active .x {
  background-color: #05EDFF;
}
nav input {
  width: calc(30vw - 4px);
}

main {
  width: calc(70vw - 20vmin);
  height: calc(90vh - 10vmin);
  padding: 5vmin;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: scroll;
}
main input {
  width: calc(70vw - 20vmin - 4px);
}
main .toDo {
  display: none;
}
main .toDo .listz .dead {
  transition: 0.2s;
  opacity: 0;
  margin-top: -50px;
}
main .toDo .listz .listItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  min-height: 2em;
  transition: 0.2s;
}
main .toDo .listz .listItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
main .toDo .listz .listItem p {
  line-height: 2em;
  margin: 0;
  width: calc(70vw);
  color: white;
  overflow-x: visible;
  overflow-wrap: break-word;
}
main .toDo .listz .listItem input {
  cursor: pointer;
  height: 1.5em;
  width: 1.5em;
  margin-top: 0.4em;
}
main .toDo .listz .listItem .finished {
  transition: 0.2s;
  opacity: 0;
  margin-right: -70vw;
  margin-top: -50px;
}
main .active {
  display: block;
}

.rmv {
  font-family: "Poppins";
  position: absolute;
  right: 2vw;
  bottom: 2vw;
  color: gray;
  cursor: default;
}

.remove {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

.borger {
  display: none;
  transition: 0.5s;
}
.borger .burger {
  transition: inherit;
}

.burgerWrap {
  top: 0;
  left: 0;
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 40px;
  padding: 10px;
  background-color: transparent;
}
.burgerWrap .burger {
  width: 50px;
  height: 2px;
  background-color: white;
}
.burgerWrap .two,
.burgerWrap .three {
  margin-top: 18px;
}

.xWrap {
  top: 0;
  left: 0;
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: black;
}
.xWrap .burger {
  width: 50px;
  height: 2px;
  background-color: white;
}
.xWrap .one {
  transform: rotate(45deg);
  margin-top: 25px;
}
.xWrap .two {
  opacity: 0;
}
.xWrap .three {
  transform: rotate(-45deg);
  margin-top: -4px;
}

.off {
  margin-left: -30vw;
}

@media only screen and (max-width: 900px) {
  .borger {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
